@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

body {
    font-family: "Mooli";
    margin: 0;
}

.viewer {
    position: fixed;
    top: 0;          /* Sets the top edge to the top of the viewport */
    left: 0;         /* Sets the left edge to the left of the viewport */
    right: 0;        /* Sets the right edge to the right of the viewport */
    bottom: 0;       /* Sets the bottom edge to the bottom of the viewport */
    margin: 0; 
    background: rgba(0, 0, 0, 0.75);

    display: grid;
    grid-template-columns: 1fr;
    padding: 1.5rem;
    
}

.close-viewer {
    color: white;
    background: rgba(0, 0, 0, 0.0);
    grid-row: 1;
    border: none;
    text-align: right;
    font-size: 2rem;

}

.viewer img {
    max-height: 100%;
 
    margin: 0;
    grid-row: 2;
    color: white;
    border: none;

}


header {
    text-align: center;
    background-color: blueviolet;
    color: white;
    padding: 1rem;
}


#menu-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-btn {
    display: block;
    background: none;         
    border: none;             
    padding: 0;               
    color: inherit;           
    font: inherit;  
    font-size: 2rem;          
    cursor: pointer;          
}

#dropdownMenu {
    display: none;
} 

#dropdownMenu.show {
    display: contents;
}
ul {
    list-style-type: none;
    display: inline;    
}
li a {
    list-style-type: none;
    text-align: center;
    color: white;
    text-decoration: none;
    display: block;
    padding: .25rem;
}


li a:hover {
    color: gray;
    text-decoration: underline;
  }

main {
    padding: 1rem;
    text-align: center;
    background-color: whitesmoke;

}

h3 {
    margin: 0;
    font-weight: bold;
}


figure {
    margin: 0 auto;

}

img {
    max-width: 100%;
    border: 10px solid white;
    object-fit: cover;
    margin: 1rem;
}


footer {
    background-color: blueviolet;
    color: white;
    padding: 1rem;
}

@media screen and (min-width: 700px) {
    .gallery {
        display: grid;     
        grid-template-columns: 1fr 1fr;

    }
    #menu-div{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-btn {
        display: block;
        background: none;         
        border: none;             
        padding: 0;               
        color: inherit;           
        font: inherit;  
        font-size: 2rem;          
        cursor: pointer;          
    }

    #dropdownMenu {
        display: none;
    } 

    #dropdownMenu.show {
        display: contents;
    }
    .viewer {
        padding: 7rem;
    }

}

@media screen and (min-width: 1000px) {
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }
    .menu-btn {
        display: none; 
    }

    #dropdownMenu {
        display: inline-block;
    } 

    ul {
        list-style-type: none;
        padding: 1rem;
    }
    li {
        display: inline-block;
    }
    .viewer {
        margin: 5rem;
        padding: 5rem;
        display: flex;
        flex-direction: column;
    }

    .viewer img {
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
    }
}

